header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


canvas {
    position:relative ;
    left: 0;
    top: 0;
}

.description-section {
    /* Ensure the description appears below the canvas */
    margin-top: 20px;
}
