header {
    background-color: white;
    color: black;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Align logo and nav to opposite ends */
    align-items: center;
}

.logo {
    font-size: 3em;
    font-weight: bold;
}

.logo a {
    color: black; /* Set text color for the logo */
    text-decoration: none; /* Remove default underline */
}

nav {
    max-width: 1200px;
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 1200px; /* Set maximum width for the content area */
    margin: 0 auto; /* Center the content horizontally */
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 40px; /* Gap between grid items */
    background-color: white;
}


.hero, .about-me, .projects, .contact {
    background-color: white;
    padding: 20px;
}

/* Footer */
footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

canvas {
    position:relative ;
    left: 0;
    top: 0;
}

.description-section {
    /* Ensure the description appears below the canvas */
    margin-top: 20px;
}
