/* Header */
header {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Align logo and nav to opposite ends */
    align-items: center;
    position: fixed; /* Fixed positioning */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Take full width of the viewport */
    z-index: 1000; /* Ensure header appears above other content */
    left: 0; /* Align left edge with viewport */
    right: 0; /* Align right edge with viewport */
    -webkit-backdrop-filter: blur(5px); /* Initial blur effect */
}

/* Adjust the logo size */
.logo {
    font-size: 3em; /* Decrease the font size if needed */
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

/* Adjust the navigation links */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-right: 40px; /* Remove right margin from the last item */
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Main Content */
main {
    padding: 20px;
    padding-top: 80px;
    max-width: 1200px; /* Set maximum width for the content area */
    margin: 0 auto; /* Center the content horizontally */
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 40px; /* Gap between grid items */
    background-color: white;
}
/* Main Content */
main.about-me-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns, left column occupies 1 fraction, right column occupies 2 fractions */
    gap: 10px; /* Gap between columns */
    max-width: 1200px; /* Limiting the maximum width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 10px;
}

.about-me-content .left-column {
    padding-top: 80px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
}

.about-me-content .left-column img {
    width: 100%;
    max-width: 300px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
}

.about-me-content .right-column {
    padding-top: 80px;
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.hero, .about-me, .projects, .contact {
    background-color: white;
    padding: 10px;
}

.project {
    background-color: rgb(220, 217, 217);
    padding: 10px;
    padding-top: 0;
    margin: 10px;
}

/* Footer */
footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

canvas {
    position:relative ;
    left: 0;
    top: 0;
}

.description-section {
    /* Ensure the description appears below the canvas */
    margin-top: 20px;
}


/* For iPad and Phone */
@media only screen and (max-width: 768px) {
    main.about-me-content {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 20px;
    }

    .about-me-content .left-column,
    .about-me-content .right-column {
        max-width: fit-content;
        width: 100%; /* Set width to 100% to occupy full width */
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: justify;
        display: inline-block;

    }

    .about-me-content .right-column {
        padding-top: 20px;
    }

    .about-me-content .left-column img {
        /* max-width: 100%; Adjust image width to fit viewport */
        max-width: 25%; /* Adjust the width of the image as needed */
        height: auto; /* Maintain aspect ratio */
        margin: 5%;
        float: left;
    }
    
    
}


/* Add CSS for the QR code section */
.qr-code {
    text-align: center; /* Center align the content */
    margin-top: 20px; /* Add some top margin */
}

.qr-code img {
    max-width: 25%; /* Make sure the image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
}

.qr-code p {
    margin-top: 10px; /* Add some space between the QR code and the text */
}

.qr-code a {
    display: block; /* Make the link a block element */
    margin-top: 10px; /* Add some space between the text and the link */
    color: blue; /* Change link color */
}
